{# This file is part of the House Aratus package.

(c) Sven Roodbol <roodbol.sven@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. #}

<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
    {% endblock meta %}
    <title>{% block title %}{{ swagger_data.spec.info.title }}{% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/sredbullapidoc/swagger-ui/swagger-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/sredbullapidoc/style.css') }}">
    {% endblock stylesheets %}

    {% block swagger_data %}
        <script id="swagger-data" type="application/json">{{ swagger_data|json_encode(65)|raw }}</script>
    {% endblock swagger_data %}
</head>
<body>
    <div id="swagger-ui"></div>

    {% block javascripts %}
        <script src="{{ asset('bundles/sredbullapidoc/swagger-ui/swagger-ui-bundle.js') }}"></script>
        <script src="{{ asset('bundles/sredbullapidoc/swagger-ui/swagger-ui-standalone-preset.js') }}"></script>
    {% endblock javascripts %}

    {% block swagger_initialization %}
        <script src="{{ asset('bundles/sredbullapidoc/init-swagger-ui.js') }}"></script>
    {% endblock swagger_initialization %}
</body>
</html>
